

<div class="panel">
    <h1><span>Login</span></h1>
    <div class="form-group col-sm-12">
        <label class="form-label col-sm-12" style="text-align: left;"><span>User Name</span></label>
        <input class="form-control" type="text">
    </div>
    <div class="form-group col-sm-12">
        <label class="form-label col-sm-12" style="text-align: left;"><span>Password</span></label>
        <input class="form-control" type="text">
    </div>
    <div style="text-align: right;" class="col-sm-12">
        <button class="btn btn-primary"style="margin-right: 0.8em">Login</button>
        <button class="btn btn-secondary">Cannel</button>
    </div>
</div>
