
<div>
    <div class="top">
        <h1>Danh sach nhan vien</h1>
    </div>
    <div class="middle">
        <div style="text-align: left;">
            <button routerLink="/userEdit" class="btn btn-primary">Them moi</button>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                    <th scope="col">STT</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Điện thoại</th>
                    <th scope="col">Email</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Phòng ban</th>
                    <th scope="col"> Hành động</th>
                </thead>
                <tbody *ngFor="let user of listUser">
                    <tr >
                        <td >{{user.userId}}</td>
                        <td >{{user.firstName}} {{user.lastName}}</td>
                        <td >{{user.phone}}</td>
                        <td >{{user.email}}</td>
                        <td >{{user.position}}</td>
                        <td >{{user.departments}}</td>
                        <td><button routerLink="/userEdit" class="btn btn-success custom-width"><fa-icon [icon] = 'faSearch'></fa-icon></button>
                            <button routerLink="/userEdit" class="btn btn-danger custom-width" style="margin-left: 0.2em;"><fa-icon [icon] = 'faTrash'></fa-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>